目標：把姓名改成只有第一個字大寫、其他全部小寫
返回：按照id排序的全表
```python
+----------------+---------+
| Column Name    | Type    |
+----------------+---------+
| user_id        | int     |
| name           | varchar |
+----------------+---------+
user_id is the primary key (column with unique values) for this table.
This table contains the ID and the name of the user. The name consists of only lowercase and uppercase characters.
```

思考：
需要鎖定「第一個字」運用.str.upper()

「其他的字」運用.str.lower()

以上可能需要「如何找到第一個字並操作」

然後df.sort.values('user_id')

In [ ]:
# 正解一
import pandas as pd

def fix_names(users: pd.DataFrame) -> pd.DataFrame:
    users['name'] = users['name'].str[0].str.upper() + users['name'].str[1:].lower()
    return users.sort_values("user_id")

**小筆記**
- 找出某欄位的某位置的值：`df['name'].str[0]`使用slicing
- 如何「合併」更改後的結果：`+`再加上重新賦值就好
- 複習大小寫：`.str.upper()` & `.str.lower()`
- 複習排序：`df.sort_values("column")`

In [ ]:
# 正解二：使用.str.capitalize()
import pandas as pd

def fix_names(users: pd.DataFrame) -> pd.DataFrame:
    users['name'] = users['name'].str.capitalize()
    return users.sort_values("user_id")

**小筆記**
- `.str.capitalize()`：直接第一個字大寫、其他小寫

#### 草稿區

In [31]:
# 測試看看
import pandas as pd
df = pd.DataFrame (
    {"id":[1,2,3,4,5],
    "name":["aMy", "BEn", "cAThy", "DAVid", "EtHeral"]
    }
)
df

   id     name
0   1      aMy
1   2      BEn
2   3    cAThy
3   4    DAVid
4   5  EtHeral

In [33]:

df['name'] = df['name'].str[0].str.upper() + df['name'].str[1:].str.lower()

df.sort_values("id")

   id     name
0   1      Amy
1   2      Ben
2   3    Cathy
3   4    David
4   5  Etheral

'''
iloc 0:3 return 0 1 2
loc 0:3 return 0 1 2 3 
結論：iloc不含尾、loc含尾
'''
如何找到每一值的第一個字？df['name'][0][1]
除了第一個以外的字：