```python
+-------------+---------+
| Column Name | Type    |
+-------------+---------+
| employee_id | int     |
| name        | varchar |
| salary      | int     |
+-------------+---------+
employee_id is the primary key (column with unique values) for this table.
Each row of this table indicates the employee ID, employee name, and salary.
```
Write a solution to calculate the bonus of each employee. The bonus of an employee is 100% of their salary if the ID of the employee is an odd number and the employee's name does not start with the character 'M'. The bonus of an employee is 0 otherwise.

Return the result table ordered by employee_id.

目的：新增一個欄位bouns，如果id是奇數且名字開頭不是m，返回它們的薪水，其餘都是0。

bigquery version:

```sql
select employee_id, 
case when employee_id % 2 = 1 and not regexp_contains(name, "^M") then salary
else  0
end as bonus
from employees
order by employee_id
```

mysql version:

```sql
select employee_id, 
case when employee_id % 2 = 1 and name not like "M%" then salary
else  0
end as bonus
from employees
order by employee_id;
```

clearer version:

```sql
select employee_id, 
case when mod(employee_id, 2) = 1 and left(name, 1) != 'M' then salary
else  0
end as bonus
from employees
order by employee_id;
```

In [ ]:
# python 正解
# 你需要什麼？
# if-else 處理0或返回薪水
# 排序結果 
import pandas as pd
import numpy as np
'''
np.where(條件, 如果true, 如果false)

'''
def calculate_special_bonus(employees: pd.DataFrame) -> pd.DataFrame:
    employees['bonus'] = np.where(
        (employees['employee_id'] % 2 == 1) & (~ employees["name"].str.startswith('M') ),
        employees['salary'],
        0
    )
    return employees[["employee_id", "bonus"]].sort_values('employee_id')

**語法小教室**
- `np.where()`
    np.where(
        條件,
        如果true,
        如果false
    )
    - 如果有多種條件，需要巢狀 → 不如使用`.loc[]`最常見
    - `.loc[]`
        ```python
            df['lable'] = None
            df.loc[df['name']].str.contains("amy", case = False), 'label'] = 'a'
            df.loc[df['name']].str.contains("ben", case = False), 'label'] = 'b'            
            df.loc[df['name']].str.contains("cathy", case = False), 'label'] = 'c'        
        ```
    - `np.where()`和`.query()`差別
        - `np.where()`：分類、找出某些不同條件並標記、或是提供新的值 → 使用之後會新增欄位（分類結果）
        - `.query()`：篩選出來而已，沒有辦法使用`.str()`，需要額外賦值 → 使用之後會行數變少（篩掉一些欄位）
- `.str.startswith()`:
    - 可以改成`.str.contains("^M")`，但如果只是要找開頭或結尾，用`.str.startswith()`比較清楚
    - 其他家族：
        - `.str.endswith()`:結尾
        - `.str.upper()` & `.str.lower()`:大寫＆小寫
        - `.str.len()`: 長度
        - `.str.contains()`:包含某某字、適合搭配正規

草稿區

In [2]:
import pandas as pd
df = pd.DataFrame(
    {"id":[2,3,7,8],
    "name":["Meir", "Michael", "Addilyn", "Juan"],
    "salary":[3000, 3800, 7400, 6100]
    }
)
df

   id     name  salary
0   2     Meir    3000
1   3  Michael    3800
2   7  Addilyn    7400
3   8     Juan    6100

In [9]:
df_2 = df[df['id']% 2 == 1]
# 我需要建立一個新欄位bouns
df['donus'] = df[df['id']% 2 == 1 ]['id']

In [10]:
df['donus']

0    NaN
1    3.0
2    7.0
3    NaN
Name: donus, dtype: float64

我現在又有個小麻煩，雖然我寫得出sql，可是我又不知道pandas如何寫了

我的邏輯是這樣的：
我們需要一個新欄位bouns來裝我們條件下的新情況，因此就會對應到sql裡面的case when
另外，如果要排序，需要用到排序結果 

但我的問題是，我知道一般時候我們可以用is-else來建立條件，
例如：
if df['id']% 2 == 1 and df['name'] 開頭不包含'M':
    df["bouns"] = df['salary']
else:
    df["bouns"] = 0

可是我不知道pandas要如何條件應用到df上，再來我也不知道「開頭是Ｍ」該如何展示
我只會 df_2 = df[df['id']% 2 == 1]